 /* Start of global Styling */
body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #e89eda 0%, #32a8a2 100%);
    font-family: 'Kanit', sans-serif;
    font-family: 'Mukta', sans-serif;
}
h1,p{
    margin:auto;
    text-align: center;
   
}
p{
    font-weight: 700;
}
 /* End of global Styling */
form{
    margin: 0 auto;
    max-width: 425px;
    text-align: center;
    width: 30vw;
    margin-top: 2em;
    background: rgba(0, 0, 0, 0.4);
}
fieldset{
    border: none;
    /* padding: 5rem 0; */
    border-top:1px solid black;  ;
    border-bottom: 1px solid black;  
}
/* fieldset:last-of-type{
    border-bottom: none;
} */
label{
    /* display: inline-block; */
    margin: 1rem 0;
}
input,textarea,select{
    width: 100%;
    margin: 1px 0 0;
    
}
input,textarea{
    width: 100%;
    background-color: rgba(34, 33, 31, 0.329);
   
    /* color: darkgreen; */
}
.inline1{
    width: unset;
    margin: 0 0.5em 0;
    vertical-align: middle;
    
}
textarea{
    color: aqua;
}
input[type="submit"]{
    display: block;
    width: 60%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}


/* input[name="password"]{
    background-color: aqua;
} */

/* input[type=text]{
    margin-left: 2rem;
}

input[type=email]{
    margin-left: 2rem;
}

input[type=password]{
    margin-left: 2rem;
} */