*{
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}
.form{
    width: 50%;
    height: 40vh; 
    text-align: center;
    justify-content: center;
}
.box{
    position: relative;
    text-align: center;
    display: flex;
   
    width: 10%;
    height: 30vh;
    background-color: aqua;
}